// Colors
$color-primary: #14ffec;
$color-primary-light: rgba(50, 50, 50, 0.8);
$color-primary-dark: rgba(33, 33, 33, 0.8);

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff0800;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light: #f7f7f7;
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;
$bg-color: #212121;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;

$gutter-horizontal: 6rem;
